/resources/private/*
*scratch*
/target
/classes
/checkouts
.cpcache/*
pgdata
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*#*
/test/resources/out
resources/public/js/out*
resources/public/js/app.js
