{:resourceType "nn0Qi^",
 :type "M<U]&eoX\"",
 :params
 [{:resourceType :Appointment,
   :type :sort,
   :dir :desc,
   :name :lastUpdated,
   :search-param {:type :lastUpdated},
   :values []}
  {:type :count, :value 2}],
 :query-sql
 ["^1I7$fy*tQkQ)0j32r'\\\\'EhOO#;WJwDu[7lqH*k&!eP\"PIT(m~oeqn,@n{4,Kk,u6)H=o}2SGn3actH\\Rn1zQo`1"
  2
  0],
 :query-time 71,
 :entry
 [{:resource
   {:patient
    {:id "axp#qa", :display "WW'jc-$$P", :resourceType "L0lHIl%"},
    :serviceCategory
    {:coding
     [{:code "HYaI$8_",
       :system "\\7Z7<<JTPCqP2b\"xyS_kr|oV6`Xvf|P'mN8C5To%H"}]},
    :meta
    {:lastUpdated "s*?_n^vMO;co%jHhi%UIsON1",
     :versionId "HbL,d^r",
     :tag [{:system "q2'U1]Pp1Ic[Nmk{?c", :code "M)aRJAN"}]},
    :start "D=(iBH8r/,n&{,z}sBukJN{&",
    :created "%CDTKq4Frub4J-f+l<h5]i,T",
    :participant
    [{:type [{:coding [{:code "!!lI"}]}],
      :actor
      {:id "h[K9{rib",
       :display "BjdLDqPzX",
       :resourceType "s~6$Tj^_JWs-"},
      :status "G$Z*A6>P"}
     {:actor {:id "_", :display "NXnHvGL9`", :resourceType "E[bpIH?#"},
      :status "/G|g9G+V"}],
    :resourceType "(F]Ow+.-p2t",
    :serviceType
    [{:coding
      [{:code "^Z*DdL5c^:K@W<6QIEiQZIY+sS",
        :system "Dk^lg;Mu7D,UzOnipQ}]56*f.<y^5zS",
        :display "()tBH2$NV"}]}],
    :reason [{:text "^;?eQe"}],
    :status "]e:Gv=?1Y",
    :id "4xvHy79"},
   :fullUrl "`qN?;@8IdX#7n$4~D91Y"}
  {:resource
   {:patient
    {:id "0VWT~!", :display "_Plb7I1jj", :resourceType "pm:_FV3"},
    :serviceCategory
    {:coding
     [{:code ";t]>c|T",
       :system "c{Vw|a)dk%zhpc!XoxFPZ@]XW/1w}!jPYG^/Mofy("}]},
    :meta
    {:lastUpdated "'6.FbW<g_l49etM{$:q>`Y;*",
     :versionId "8DFzf^2",
     :tag [{:system "oS!W4b.z{e_EhYK=l%", :code "jvkCTYO"}]},
    :start "-zdxw;7GeK1'bM5lKQf\\u'*B",
    :created "F7/kTl8#g(vX:v9]HC[x[|]~",
    :participant
    [{:actor
      {:id "L", :display "3%~y{PGxj", :resourceType "zQK|\\\"3z"},
      :status "!{u9/8~O"}],
    :resourceType "LRr[u9hW:Ho",
    :serviceType
    [{:coding
      [{:code "+p;~/t.EcS/`R|J)M8Q!.Y)575",
        :system "FzCr$1qE.Mxv:/Y;'@*aMb9)*k},M|y",
        :display "&AiBJty^l"}]}],
    :reason [{:text "M2wfSp;"}],
    :status "~2J$1X^D^",
    :id "6Q2?E8z"},
   :fullUrl ")fthVSb3ynG{UZlk/gln"}
  {:resource
   {:patient
    {:id "(Xi;b'", :display "=d}{^V?Vt", :resourceType "vtw\"cot"},
    :serviceCategory
    {:coding
     [{:code "ios=p7J",
       :system "5B@D)i%BCi|uS,F]+T+LK.J~b9Og~kZoi+EB/`['@"}]},
    :meta
    {:lastUpdated "^Xbe#rG1CpAFxWm/\\Q,@1zo2",
     :versionId "8LpD60c",
     :tag [{:system "ioSoaT|LQB/PL%7Kmx", :code "sS-7d.r"}]},
    :start "Xm`%mnwNPMw_?:9S\";o^?kev",
    :created "Cm%R2DE50`G`IXjv_A7l7+F:",
    :participant
    [{:type [{:coding [{:code "\\YTE"}]}],
      :actor
      {:id "PIISE/AI",
       :display "_=82-m>_%",
       :resourceType "T`}i2P1Z15Tl"},
      :status "ejp/{o:~"}
     {:actor {:id "b", :display "4.Mtg*{?Y", :resourceType "C+9H?i8z"},
      :status ")Q3lJ2|J"}],
    :resourceType "VmtGp@{.BZz",
    :serviceType
    [{:coding
      [{:code "nej\\s9CN^U8?X[Fx/!T{8CKcq5",
        :system "U0:7L<.\\%lrKx*M\"t@eG|K\\4\"U1?.MC",
        :display "kpHVv@Z2d"}]}],
    :reason [{:text "H#FFS;;W8"}],
    :status "3kc=\\^+W!",
    :id "~9zX*|l"},
   :fullUrl "20(-\\T'yI]v0yypZs@^1"}],
 :total 238444,
 :link
 [{:relation "]?w?+",
   :url
   ":1t|t\"$*{IJP#G+SBhH/O=gBrd-2gC|b\\d{[KqU4P]/oP#DW/BF)z&4k29,Q"}
  {:relation "L4g$",
   :url
   "oj]eT\\[8dSguX:>eO@-88kLAeJr2}2}*$nwH\\po@F|3x=+TaC}l\\0R_L4ZG#"}
  {:relation "`<pG",
   :url
   "V_v,Io5[&vs\\i@8>d=>)]Y6dKEm=Ki).t!4P~V62%Z+{M3MI}&*xD/K75UI3"}
  {:relation "hGyM",
   :url
   "Z\"Kjwgy3#0,9oB[dm*Hpij=V32DNf\"3/u?*0u/S=V3,L)!:}$sf%!VW`C{;Mb6aF"}]}
