.placeload b, .placeload span {
    height: 14px;
}

.placeload .img-preload {
    opacity: none;
    max-width: 50px;
    padding: 0px;
    margin: 0px;
    height: 50px;
    border-radius: 50%;}


.placeload b, .placeload span, .placeload .img-preload {
    margin-right: 8px;
    width: max-content;
    color: #fff0 !important;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeload;
    animation-name: placeload;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 1200px 104px;
}

@-webkit-keyframes placeload {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}
@keyframes placeload {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}
